<div class="app">
  <div class="files-list-holder">
    <div class="list">
      <mat-card>
        <ng-container *ngFor="let file of filesList; let index = index">
            <div (click)="download(file)" class="link">
                <a>{{file.originalname}}</a>
            </div>
        </ng-container>
      </mat-card>
    </div>
  </div>
  <div class="downloads">
    <mat-card>
      <form [formGroup]="fileForm">
        <div class="form-group">
          <label for="file">File</label>
          <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
        </div>
        <div class="spacing"></div>
        <button mat-stroked-button [color]="'primary'" [class]="'btn'" (click)="upload()">
			Upload
		</button>
      </form>
    </mat-card>
  </div>
</div>
