.app {
    width: 100%;
    display: flex;
}
.files-list-holder {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    cursor: pointer;
    padding: 10px;
    margin: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
        background: rgba(0, 0, 0, 0.068);
    }
}

.list {
    padding: 20px;
    width: 500px;
    
}
.downloads {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloads-holder{
    width: 500px;
}

.spacing {
    padding: 5px 0;
}

.example-spacer {
    flex: 1 1 auto;
}

.error {
    color: red;
}